.title{
    color:rgb(230, 98, 105);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
body{
    background-image:url('wk3-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}  
li{
    color:rgb(78, 105, 105);
    font-size:20px;
    
}
body{
    background-color: blueviolet;
    
}
